.navbar-brand img {
  height: 28px;
}

.do_menu {
  background-color: white;
  border: none;
  height: 70px;
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand {
    height: 70px;
    padding: 20px 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #03379c;
  font-size: 14px;
  font-weight: bolder;
  padding-left: 6px;
  padding-right: 6px;
}

#signup {
  padding-top: 16px;
}

@media screen and (max-width:991px) {

  #signup {
    display: none;
  }

}

.navbar-right li {
  height: 70px;
}

.signup {
  background-color: white;
  box-shadow: none;
  border: 1px solid #0160ff;
  padding: 10px;
  border-radius: 8px;
}

/* banner */

.deploy {
  background-color: #f3f5f9;
  color: #031b4e;
  font-size: 18px;
  font-weight: bolder;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 30px 0;
}

.do_reg {
  background-color: white;
  padding: 30px 50px;;
  border-bottom: 1px solid #f3f5f9;
}

.do_reg button {
  background-color: #0160ff;
  color: white;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bolder;
}

.do_signup {
  background-color: white;
  width: 100%;
  font-size: 18px;
  font-weight: bolder;
  padding: 30px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.do_signup button {
  background-color: white;
  color: #0160ff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #0160ff;
}

.do_banner {
  background-color: #0160ff;
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 150px 0;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  position: relative;
}

h1 {
  padding: 50px 0 20px;
}

h2 {
  font-size: 40px;
}

/* Section Brands */

.do_brands {
  background-color: #f3f5f9;
  padding: 50px 0;
  font-family: 'Maven Pro', sans-serif;
}

.do_brands h4 {
  color: #5f6d8a;
  font-weight: bolder;
}

.do_brands a {
  font-weight: bold;
}

.rw_do_brands {
  padding: 20px 0;
}

/* Section Scale */

.scale {
  padding: 100px 0;
  font-family: 'Maven Pro', sans-serif;
}

.itd_scale {
  padding-bottom: 50px;
}

.scale ul li {
  list-style: none;
  border-left: 1px solid grey;
  padding-left: 5px;
}

.scale h2, .do_scale h4 {
  color: #031b4e;
  font-weight: bold;
}

.scale p {
  color: #896992;
  font-weight: lighter;
  font-size: 22px
}

.do_scale p {
  color: #5b6987;
  font-size: 16px;
}

.do_scale_item {
  padding-bottom: 20px;
}

.do_scale_item img {
  margin-bottom: 10px;
}

@media screen and (max-width:767px) {

  .do_scale {
    text-align: center;
  }

}

/* Section designed */

.designed {
  font-family: 'Maven Pro', sans-serif;
  background-color: #f3f5f9;
  padding: 100px 0;
}

.designed h2 {
  color: #031b4e;
  font-weight: bolder;
}

.designed h3 {
  color: #211b4e;
  font-weight: lighter;
}

.designed img {
  margin-top: 50px;
  margin-bottom: 20px;
}

.designed p {
  color: #5b6987;
  font-size: 16px;
  margin-bottom: 30px;
}

.circles span {
  color: #0160ff;
  font-size: 10px;
  padding: 0 5px;
  font-weight: bolder;
}

/* section built */

.built {
  padding: 100px 0;
  font-family: 'Maven Pro', sans-serif;
}

.built h2, .built h4 {
  color: #031b4e;
  font-weight: bold;
}

.built_item {
  padding-top: 30px;
}

.built_item h4 {
  padding-top: 10px;
}

.built_item a {
  font-weight: bold;
  color: #0160ff;
}

.built_item p {
  padding: 10px 0;
  color: #5b6987;
  font-size: 16px;
}

@media screen and (max-width:991px) {

  .built_item {
    text-align: center;
  }

}

/* Section speed */

.speed {
  background: #031b4e url(https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format);
  padding: 100px 0;
  font-family: 'Maven Pro', sans-serif;
}

.service {
  color: white;
}

.speed h3 {
  font-weight: lighter;
}

.spd_world {
  padding-top: 50px;
}

.cty_spd {
  padding: 0px 10px;
}

.uty {
  border-bottom: 1px solid #384b73;
  padding: 12px 10px;
}

.cty_spd a {
  color: #00d7d2;
  float: right;
  padding-right: 10px;
}

.cty_abbrev {
  color: white;
  font-size: 12px;
  font-weight: bolder;
  padding-right: 15px;
}

.cty {
  color: #98a2b1;
  font-weight: lighter;
}

/* Section develop */

.develop {
  padding: 100px 0;
  font-family: 'Maven Pro', sans-serif;
  background-color: #f3f5f9;
}

.develop h2 {
  color: #031b4e;
  font-weight: bolder;
}

.develop h3 {
  color: #211b4e;
  font-weight: lighter;
  padding-bottom: 50px;
}

.citation {
  padding-top: 50px;
  background-color: white;
  border-radius: 8px;
}

.citation img {
  width: 200px;
}

.citation p {
  font-size: 20px;
  padding: 50px 0;
  color: #5b6987;
  font-weight: lighter;
}

.citation p i {
  color: #c0c6d3
}

.rick {
  color: #5b6987;
}

.rick h5 {
  font-size: 16px;
}

.rick p {
  padding-top: 0px;
  font-size: 12px;
}

.crc_dvl {
  padding-top: 50px;
}

.start {
  background-image: url(https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format);
  padding: 100px 0;

}

.start h2 {
  color: white;
  font-weight: bolder;
  font-family: 'Maven Pro', sans-serif;
}

.start_right {
  text-align: right;
  padding-top: 15px;
}

@media screen and (max-width:767px) {

  .start_left, .start_right {
    text-align: center;
  }

}

.start_right a button {
  color: #0069ff;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: none;
  background-color: white;
  border: none;
  padding: 20px;
  font-weight: bolder;
}

/* section lists */

.lists {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #010e28;
  font-size: 14px;
  font-family: 'Maven Pro', sans-serif;
  border-bottom: 1px solid #343e53
}

.list_col h5{
  color: white;
  padding-left: 40px;
  font-size: 16px;
}

.list_col ul li {
  color: #7f8693;
  list-style: none;
  text-align: left;
  padding: 5px 0;
  cursor: pointer;
}

.list_col ul li:hover {
  color: white;
}

/* footer */

footer {
  background-color: #010e28;
  padding: 30px 0;
  color: #7f8693;

}
